@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --mainBlack:#000000;
  --lightWhite: #f7f7f7;
  --mainVaiolet:#8D4CFF;
  --brand-gray:#878787;
  --Outfit: "Outfit", sans-serif;
  --primary-shadow: 10px 15px 40px 0 rgba(0, 0, 0, 0.2);
  --secondary-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
  --second-card-shadow: 8px 14px 31px 0 rgba(0,0,0,0.2);
  --image-shadow-background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.04) 25%, rgba(0,0,0,0.5) 100%);
  --orange-background: linear-gradient(219deg,rgba(255,82,98,1) 0%,rgba(255,82,98,0) 100%);
  --input-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-mainBlack:var(--mainBlack);
  --color-lightWhite:var(--lightWhite);
  --color-mainVaiolet:var(--mainVaiolet);
  --color-brand-gray:var(--brand-gray);
  --font-Outfit: var(--font-Outfit);
  --shadow-primaryShadow: var(--primary-shadow);
  --shadow-secondaryShadow: var(--secondary-shadow);
  --shadow-second-card-shadow: var(--second-card-shadow);
  --color-image-shadow: var(--image-shadow-background);
  --color-orange-background: var(--orange-background);
  --shadow-input-shadow: var(--input-shadow);
}

@theme {
  --breakpoint-lsm: 380px;
  --breakpoint-esm: 400px;
  --breakpoint-em: 480px;
  --breakpoint-msm: 550px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--Outfit);
}

@keyframes floatY {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

@keyframes fadeInUp {
  0% { opacity: 0; transform: translateY(12px); }
  100% { opacity: 1; transform: translateY(0); }
}

.float-slow { animation: floatY 6s ease-in-out infinite; }
.float-med  { animation: floatY 5s ease-in-out infinite; }
.float-fast { animation: floatY 4s ease-in-out infinite; }
.fade-in-up { animation: fadeInUp 800ms 120ms both; }


.stripes {
  background-image: repeating-linear-gradient(135deg, rgba(0,0,0,0.8) 0 3px, transparent 3px 12px);
}

.card-shadow {
  box-shadow: 0 10px 25px rgba(0,0,0,0.15), 0 2px 6px rgba(0,0,0,0.08);
}
